@import "tailwindcss";

@theme {
  --color-biobench-black: #001219;
  --color-biobench-blue: #005f73;
  --color-biobench-cyan: #0a9396;
  --color-biobench-sea: #94d2bd;
  --color-biobench-cream: #e9d8a6;
  --color-biobench-gold: #ee9b00;
  --color-biobench-orange: #ca6702;
  --color-biobench-rust: #bb3e03;
  --color-biobench-scarlet: #ae2012;
  --color-biobench-red: #9b2226;
  --color-biobench-purple: #7b2cbf;
  --color-biobench-magenta: #c9184a;
  --color-biobench-forest: #2d6a4f;
  --color-biobench-slate: #475569;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
