@import "tailwindcss";

@theme {
  --color-biobench-black-500: #001219;
  --color-biobench-blue-500: #005f73;
  --color-biobench-cyan-500: #0a9396;
  --color-biobench-sea-500: #94d2bd;
  --color-biobench-cream-500: #e9d8a6;
  --color-biobench-gold-500: #ee9b00;
  --color-biobench-orange-500: #ca6702;
  --color-biobench-rust-500: #bb3e03;
  --color-biobench-scarlet-500: #ae2012;
  --color-biobench-red-500: #9b2226;
}
